<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        #weatherIcon {
            display: none;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body class="bg-light py-5">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Check Weather</h2>
                    <form id="weatherForm">
                        <div class="form-group">
                            <input type="text" class="form-control" name="city" placeholder="Enter City" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Check</button>
                    </form>
                </div>
            </div>

            <div id="weatherData" class="mt-4">
                <h3 id="cityName" class="text-center"></h3>
                <div class="text-center my-3">
                    <img id="weatherIcon" width="50" height="50" src="" alt="">
                </div>
                <p id="weatherDescription" class="text-center font-weight-bold"></p>
                <p id="temperature" class="text-center text-primary"></p>
            </div>
            <div class="chart-container">
                <canvas id="forecastChart" width="400" height="200"></canvas>
            </div>
            <div id="map" class="mt-4" style="width: 100%; height: 400px;"></div>

        </div>
    </div>
</div>

<script>
    let map = L.map('map').setView([46.921828, -4.158597],1);
    const cities = ["New York", "London", "Tokyo", "Paris"];

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);
   
    function displayCityWeather(cityData) {
    L.marker([cityData.lat, cityData.lon]).addTo(map)
        .bindPopup(`
            <strong>${cityData.city}</strong><br>
            ${cityData.description}<br>
            <img src="http://openweathermap.org/img/w/${cityData.icon}.png" alt="${cityData.description}" width="50" height="50"><br>
            ${ (cityData.temperature - 273.15).toFixed(0) }°C
        `)
        .openPopup();
    }

    fetch('/get_multiple_weather', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ cities })
    })
    .then(response => response.json())
    .then(data => {
        data.forEach(displayCityWeather);
    });

    document.getElementById('weatherForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const city = e.target.city.value;

        fetch('/get_weather', {
            method: 'POST',
            body: new URLSearchParams({ 'city': city }),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
                return;
            }

            document.getElementById('cityName').textContent = data.city;
            document.getElementById('weatherIcon').src = "http://openweathermap.org/img/w/" + data.icon + ".png";
            document.getElementById('weatherIcon').style.display = "block";
            document.getElementById('weatherDescription').textContent = data.description;
            document.getElementById('temperature').textContent = (data.temperature - 273.15).toFixed(0) + "°C";  
            
            map.setView([data.lat, data.lon], 5);
            
            L.marker([data.lat, data.lon]).addTo(map)
                .bindPopup(`
                    <strong>${data.city}</strong><br>
                    ${data.description}<br>
                    <img src="http://openweathermap.org/img/w/${data.icon}.png" alt="${data.description}" width="50" height="50"><br>
                    ${ (data.temperature - 273.15).toFixed(0) }°C
                `)
                .openPopup();
        });

        fetch('/forecast', {
            method: 'POST',
            body: new URLSearchParams({ 'city': city }),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        }) 
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
                return;
            }

            const dates = Object.keys(data);
            const temperatures = Object.values(data);

            const ctx = document.getElementById('forecastChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Max Temperature (°C)',
                        data: temperatures,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        fill: true
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
        });
    });

    });
    
</script>

</body>
</html>
